<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>

        <body>
            <div class="footer1">
                <a href="/">HOME</a>
                <a href="/survice">SURVICE</a>
                <a href="/team">TEAM</a>
                <a href="/about">ABOUT</a>
                <a href="/contact">CONTACT</a>
              
            </div>
            
        
        
        </body>
    
</html>