<html>
    <head>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

        <body>
            <h2 class="head">{{>header}}</h2>
        <h2 class="about-title">{{title}}</h2>
        <div class="about-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quaerat eligendi officia veritatis in aliquam laudantium blanditiis aut ipsum esse alias omnis illum, velit repellendus odit eum magnam vitae suscipit.</p>
        </div>
      
        <h2 class="footer">{{>footer}}</h2>
        </body>
    
</html>